
.cards{
    margin-top: 10%;
    margin-left: 15%;
    height: 490px;
}

.all-category{
    height: 380px;
  overflow: auto;
}
.category-title {
    display: flex;
    align-items: center;
    width: 215px;
    font-size: 20px;
    color: #888;
    padding: 2%;
}

.arrow {
    font-size: 15px;
    transition: 0.3s;
}

.sub-category {
    display: none;
    margin-left: 30px;
    color: #999;
}

.sub-category p {
    margin: 8px 0;
}