:root {
    --bs-body-font-family: 'Karla', sans-serif;
}

.text-primary {
    color: #0bb5e0 !important; 
}

.support-text {
    font-size: 11px;
}

.phone-number {
    font-size: 13px;
}

/* كلاس مخصص للخلفية الأزرق الغامق والشريط السفلي */
.bg-custom-topbar {
    background-color: #03045E;
}

.bg-custom-pharmacy {
    background-color: #0077B6;
}

.bg-checkout-gradient {
    background: linear-gradient(0deg, var(--bs-primary) 51%, #38b6ff 100%);
    min-height: 200px;
}

